html,
body,
.view {
    height: 100%;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgba(144, 0, 32, 0.9);
}

.top-nav-collapse {
    background-color: rgb(60, 60, 60);
}

/* Navbar colour on small screens */
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgba(144, 0, 32, 0.9);
    }
}

.nav-item {
    padding: 0 5px;
}

.row {
    margin-bottom: 20px;
}

.col-9 {
    padding-top: 10px;
}

img {
    max-width: 100%;
    border-radius: 15px;
}

section {
    margin-top: 120px;
}

.h3 {
    justify-content: center;
    font-weight: bold;
}

.heading {
    margin-top: 50px;
    display: flex;
    text-align: left;
}

.feature-title {
    font-style: oblique;
}

.page-footer {
    background-color: #1C2331;
}

p {
    text-align: justify;
}

.locationDetails {
    margin-bottom: 60px;
}

.schedule-later {
    margin-bottom: 60px;
}

.btn-outline-white {
    margin-top: 20px;
    text-shadow: 1px 2px 2px black;
    border-radius: 40px;
}

.footer-copyright {
    font-size: 0.8em;
}

i {
    margin-left: 10px;
}