/* Required height of parents of the Full Page Intro and Intro itself */
html,
body,
.view {
  height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(53, 55, 62, 0.5); 
}

h1 {
	font-size: 4em;
	font-family: Arial;
	text-shadow: 3.5px 2px 5px black;
}

h4 {
	font-family: Helvetica;
	text-shadow: 2px 1px 2px black;
}

.top-nav-collapse {
  background-color: #BD9E64; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

.col-md-4 {
	border: 5px solid red;
}

.h5 {
	font-family: "Helvetica";
}

.btn {
	text-shadow: 1px 2px 2px black;
	color: red;
}


