/* Required height of parents of the Full Page Intro and Intro itself */
html,
body,
.view {
  height: 100%; 
  font-family: Helvetica;
}

/* Navbar animation */
.navbar {
  background-color: rgba(144, 0, 32, 0.9); 
}

.top-nav-collapse {
  background-color: #BD9E64; }

.nav-item {
  padding: 0px 5px;
}

figure {
  /*border: 2px solid red;*/
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  /*padding-bottom: 3px;*/
  margin-bottom: 6px;
  border-radius: 20px;
  /*border: 5px solid black;*/
}

section {
  /*margin-top: 100px;*/
  /*border: 2px solid pink;*/
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*align-content: center;*/
}

.row {
  max-width: 100%;
  /*border: 1px solid blue;*/
}


.title-area {
  margin-top: 105px;
  display: block;
  margin-bottom: 30px;
  /*border: 1px solid blue;*/
}
figcaption {
  /*border: 1px solid red;*/
  text-align: center;
}

.h3 {
  /*margin-top: 140px;*/
  font-weight: bold;
}

.h5 {
  margin-top: 50px;
  margin-bottom: 50px;
}




/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

.footer-copyright {
  font-size: 0.8em;
}
